body { 
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif 
}
:root {
    --color-1: rgb(84,130,168);
    --color-2: rgb(179,221,255);
    --color-3: rgb(146,201,245);
    --color-4: rgb(168,129,67);
    --color-5: rgb(245,206,147);
}
.t1{
    color: var(--color-1);
}
.bg1{
    background-color: var(--color-1);
}
.s1{
    -webkit-box-shadow: 10px 10px 5px 0px var(--color-1);
    -moz-box-shadow: 10px 10px 5px 0px var(--color-1);
    box-shadow: 10px 10px 5px 0px var(--color-1);
}
.b1{
    border-color: var(--color-1);
    border-style: solid;
}
.bt1{
    border-top-color: var(--color-1);
    border-top-style: solid;
}
.br1{
    border-right-color: var(--color-1);
    border-right-style: solid;
}
.bb1{
    border-bottom-color: var(--color-1);
    border-bottom-style: solid;
}
.bl1{
    border-left-color: var(--color-1);
    border-left-style: solid;
}
.btb1{
    border-top-color: var(--color-1);
    border-bottom-color: var(--color-1);
    border-top-style: solid;
    border-bottom-style: solid;
}
.brl1{
    border-right-color: var(--color-1);
    border-left: var(--color-1);
    border-right-style: solid;
    border-left-style: solid;
} 

.t2{
    color: var(--color-2);
}
.bg2{
    background-color: var(--color-2);
}
.s2{
    -webkit-box-shadow: 10px 10px 5px 0px var(--color-2);
    -moz-box-shadow: 10px 10px 5px 0px var(--color-2);
    box-shadow: 10px 10px 5px 0px var(--color-2);
}
.b2{
    border-color: var(--color-2);
    border-style: solid;
}
.bt2{
    border-top-color: var(--color-2);
    border-top-style: solid;
}
.br2{
    border-right-color: var(--color-2);
    border-right-style: solid;
}
.bb2{
    border-bottom-color: var(--color-2);
    border-bottom-style: solid;
}
.bl2{
    border-left-color: var(--color-2);
    border-left-style: solid;
}
.btb2{
    border-top-color: var(--color-2);
    border-bottom-color: var(--color-2);
    border-top-style: solid;
    border-bottom-style: solid;
}
.brl2{
    border-right-color: var(--color-2);
    border-left: var(--color-2);
    border-right-style: solid;
    border-left-style: solid;
} 
.t3{
    color: var(--color-3);
}
.bg3{
    background-color: var(--color-3);
}
.s3{
    -webkit-box-shadow: 10px 10px 5px 0px var(--color-3);
    -moz-box-shadow: 10px 10px 5px 0px var(--color-3);
    box-shadow: 10px 10px 5px 0px var(--color-3);
}
.b3{
    border-color: var(--color-3);
    border-style: solid;
}
.bt3{
    border-top-color: var(--color-3);
    border-top-style: solid;
}
.br3{
    border-right-color: var(--color-3);
    border-right-style: solid;
}
.bb3{
    border-bottom-color: var(--color-3);
    border-bottom-style: solid;
}
.bl3{
    border-left-color: var(--color-3);
    border-left-style: solid;
}
.btb3{
    border-top-color: var(--color-3);
    border-bottom-color: var(--color-3);
    border-top-style: solid;
    border-bottom-style: solid;
}
.brl3{
    border-right-color: var(--color-3);
    border-left: var(--color-3);
    border-right-style: solid;
    border-left-style: solid;
}
.t4{
    color: var(--color-4);
}
.bg4{
    background-color: var(--color-4);
}
.s4{
    -webkit-box-shadow: 10px 10px 5px 0px var(--color-4);
    -moz-box-shadow: 10px 10px 5px 0px var(--color-4);
    box-shadow: 10px 10px 5px 0px var(--color-4);
}
.b4{
    border-color: var(--color-4);
    border-style: solid;
}
.bt4{
    border-top-color: var(--color-4);
    border-top-style: solid;
}
.br4{
    border-right-color: var(--color-4);
    border-right-style: solid;
}
.bb4{
    border-bottom-color: var(--color-4);
    border-bottom-style: solid;
}
.bl4{
    border-left-color: var(--color-4);
    border-left-style: solid;
}
.btb4{
    border-top-color: var(--color-4);
    border-bottom-color: var(--color-4);
    border-top-style: solid;
    border-bottom-style: solid;
}
.brl4{
    border-right-color: var(--color-4);
    border-left: var(--color-4);
    border-right-style: solid;
    border-left-style: solid;
}
.t5{
    color: var(--color-5);
}
.bg5{
    background-color: var(--color-5);
}
.s5{
    -webkit-box-shadow: 10px 10px 5px 0px var(--color-5);
    -moz-box-shadow: 10px 10px 5px 0px var(--color-5);
    box-shadow: 10px 10px 5px 0px var(--color-5);
}
.b5{
    border-color: var(--color-5);
    border-style: solid;
}
.bt5{
    border-top-color: var(--color-5);
    border-top-style: solid;
}
.br5{
    border-right-color: var(--color-5);
    border-right-style: solid;
}
.bb5{
    border-bottom-color: var(--color-5);
    border-bottom-style: solid;
}
.bl5{
    border-left-color: var(--color-5);
    border-left-style: solid;
}
.btb5{
    border-top-color: var(--color-5);
    border-bottom-color: var(--color-5);
    border-top-style: solid;
    border-bottom-style: solid;
}
.brl5{
    border-right-color: var(--color-5);
    border-left-color: var(--color-5);
    border-right-style: solid;
    border-left-style: solid;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
.h500{
    height: 500px;
}
.h600{
    height: 600px;
}
.w100{
    width: 100px;
}
.w200{
    width: 200px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
.w500{
    width: 500px;
}
.w600{
    width: 600px;
}
.w700{
    width: 700px;
}
.w800{
    width: 800px;
}
.w900{
    width: 900px;
}
.w1000{
    width: 1000px;
}
.w1200{
    width: 1100px;
}
.w1100{
    width: 1200px;
}
.f1{
    background:
	repeating-linear-gradient(
		50deg,
		#F7A37B,
		#F7A37B 1em,
		#FFDEA8 1em,
		#FFDEA8 2em,
		#D0E4B0 2em,
		#D0E4B0 3em,
		#7CC5D0 3em,
		#7CC5D0 4em,
		#00A2E1 4em,
		#00A2E1 5em,
		#0085C8 5em,
		#0085C8 6em
	),
	repeating-linear-gradient(
		-50deg,
		#F7A37B,
		#F7A37B 1em,
		#FFDEA8 1em,
		#FFDEA8 2em,
		#D0E4B0 2em,
		#D0E4B0 3em,
		#7CC5D0 3em,
		#7CC5D0 4em,
		#00A2E1 4em,
		#00A2E1 5em,
		#0085C8 5em,
		#0085C8 6em
	);
	
background-blend-mode: multiply;
}
.f2{
    background:
	linear-gradient(
		grey,
		transparent
	),
	linear-gradient(
		-45deg,
		magenta,
		transparent
	),
	linear-gradient(
		45deg,
		yellow,
		transparent
	);
background-blend-mode: multiply;
}
.cp1{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.cp2{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.cp3{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.cp4{
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.cp5{
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.hr1:hover {
	filter: sepia(60%);
}
.hr2:hover {
	filter: opacity(.5);
}
.hr3:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.hr3 {overflow:hidden;}
